<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>IMDB</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{./style/index.css}">
<link rel="stylesheet" th:href="@{./style/index2Css.css}">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="bg-dark">
	<div class="wrapper">

		<!-- HEADER -->
		<header>
			<div class="netflixLogo">
				<a id="logo" href="#home"><img th:src="@{./images/logo.png}"
					alt="Logo Image"></a>
			</div>
			<nav class="main-nav d-flex">
				<a href="#home">Home</a> <a href="/Favoritos">Favoritas</a> <a
					href="/reserva">Reservas</a>
				<form class="ms-1 form-inline d-flex"  method=GET action="/gotoBuscadorTitulo">
					<input class="form-control mr-sm-2 bg-light" type="search" placeholder="" name="titulo" aria-describedby="emailHelp">
					<button type="submit" class="btn btn-outline-danger d-flex">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
							<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
						</svg>
							Buscar
					</button>
				</form>
			</nav>
			<nav class="sub-nav">
				<div class="dropdown">
					<a href="#"
						class="d-flex align-items-center text-white text-decoration-none dropdown-toggle text-white"
						id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
						<img src="https://github.com/mdo.png" alt="" width="32"
						height="32" class="rounded-circle me-2"> <strong
						th:text="${userName}"></strong>
					</a>
					<ul class="dropdown-menu dropdown-menu-dark text-small shadow"
						aria-labelledby="dropdownUser1">
						<li><a class="dropdown-item" href="/perfil">Perfil</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<li><a class="dropdown-item" href="/logout">Cerrar Sesion</a></li>
					</ul>
				</div>
			</nav>
		</header>
		<!-- END OF HEADER -->

		<!-- MAIN CONTAINER -->
		<section class="main-container">
			<div class="location" id="home">
				<h1 id="home" class="text-white">Mas populares de IMDB</h1>
				<div class="box">
					<div th:each="pelicula : ${peliculas}" class="mt-5">
						<div class="example-2 card">
							
							
							<div class="wrapper"
								th:style="'background: url('+${pelicula.image}+') center/cover no-repeat;'"
								
								>
								<div class="header">
									<div class="menu-content">
										<!-- Bookmark add to reserva -->
										<a th:href="@{'/addReserva?id='}+${pelicula.id}"
											class="fa fa-heart-o position-absolute top-0 end-25 w-100">
											<img class="bookmark" th:src="@{./images/bookmark.png}">
										</a>
									</div>
									<div class="date">
										<span th:text="${pelicula.year}" class="day"></span>
									</div>
								</div>
								<div class="data">
									<div class="content">
										 <a
											th:href="@{'/goToFavoritos?id='}+${pelicula.id}"
											class="bi bi-star-fill"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#FF0000" class="bi bi-star-fill mx-4" viewBox="0 0 16 16">
  											<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
											</svg></a> 
											<a
											th:href="@{'/trailer?id='}+${pelicula.id}">
											<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#FF0000" class="bi bi-play-btn-fill mx-3 " viewBox="0 0 16 16">
  											<path d="M0 12V4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm6.79-6.907A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
											</svg>
											</a>
									</div>
								</div>
							</div>
						
						</div>
						<a th:href="@{'/PeliculaIndv?id='}+${pelicula.id}" class="text-decoration-none">
							<h5 th:text="${pelicula.title}"
								class="title mt-2 text-center text-white">
							</h5>
						</a>
					</div>
				
				</div>
			</div>
	</div>
	</div>

	<!-- END OF MAIN CONTAINER -->

	<!-- LINKS -->
	<section class="link">
		<div class="logos">
			<a href="#"><i class="fab fa-facebook-square fa-2x logo"></i></a> <a
				href="#"><i class="fab fa-instagram fa-2x logo"></i></a> <a href="#"><i
				class="fab fa-twitter fa-2x logo"></i></a> <a href="#"><i
				class="fab fa-youtube fa-2x logo"></i></a>
		</div>
		<div class="sub-links">
			<ul>
				<li><a href="#">Audio and Subtitles</a></li>
				<li><a href="#">Audio Description</a></li>
				<li><a href="#">Help Center</a></li>
				<li><a href="#">Gift Cards</a></li>
				<li><a href="#">Media Center</a></li>
				<li><a href="#">Investor Relations</a></li>
				<li><a href="#">Jobs</a></li>
				<li><a href="#">Terms of Use</a></li>
				<li><a href="#">Privacy</a></li>
				<li><a href="#">Legal Notices</a></li>
				<li><a href="#">Corporate Information</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</div>
	</section>
	<!-- END OF LINKS -->

	<!-- FOOTER -->
	<footer>
		<p>&copy 1997-2023 IMDB, Inc.</p>
		<p>By Charly, Romero, H.White & Dickstra</p>
	</footer>
	</div>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
		integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
		integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
		crossorigin="anonymous"></script>

</body>
</html>