<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Reservas</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{./style/index.css}">
<link rel="stylesheet" th:href="@{./style/index2Css.css}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script defer
	src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"
	integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9"
	crossorigin="anonymous"></script>

<script src="main.js"></script>
</head>

<body class="bg-dark">
	<div class="wrapper">

		<!-- HEADER -->
		<header>
			<div class="netflixLogo">
				<a id="logo" href="#home"><img
					th:src="@{./images/logo.png}"
					alt="Logo Image"></a>
			</div>
			<nav class="main-nav d-flex">
				<a href="/">Home</a> <a href="/Favoritos">Favoritas</a> <a
					href="/reserva">Reservas</a>
				<form class="ms-1 form-inline d-flex"  method=GET action="/gotoBuscadorTitulo">
					<input class="form-control mr-sm-2 bg-light" type="search" placeholder="" name="titulo" aria-describedby="emailHelp">
					<button type="submit" class="btn btn-outline-danger d-flex">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
							<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
						</svg>
							Buscar
					</button>
				</form>
			</nav>
			<nav class="sub-nav">
				<div class="dropdown">
		            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle text-white"
		                id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
		                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
		                <strong th:text="${userName}"></strong>
		            </a>
		            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
		                <li><a class="dropdown-item" href="/perfil">Perfil</a></li>
		                <li>
		                    <hr class="dropdown-divider">
		                </li>
		                <li><a class="dropdown-item" href="/logout">Cerrar Sesion</a></li>
		            </ul>
		        </div>
			</nav>
		</header>
		<!-- END OF HEADER -->

		<!-- MAIN CONTAINER -->
		
	    <div class="row m-0 p-0 w-100 vh-100 align-items-center">
	    	<div class="col-2"></div>
			<div class="col ">
                <!-- Marco de la table -->
                <div class="bg-white p-3 rounded-2 table-responsive-xl ">
                    <table class="table table-striped table-hover align-middle">
                    	<caption>Lista de reservas</caption>
                        <thead class="table-dark">
                        <tr>
                            <th scope="col">Pelicula</th>
                            <th scope="col">Fecha Inicio</th>
                            <th scope="col">Fecha Fin</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Pagado</th>
                            <th scope="col">Estado</th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider">
                        <tr th:each="reserva :${reservas}">
                            <th th:text="*{reserva.titulo}" scope="row"></th>
                            <td th:text="*{reserva.fecha_ini}" ></td>
                            <td th:text="*{reserva.fecha_fin}" ></td>
                            <td class="text-center" th:text="*{reserva.precio} + '€'" ></td>
                            <td>
                            	<button type="button" class="btn btn-danger" th:text="*{reserva.pagado}"></button>
                            </td>
                            <td>
                            	<button type="button" class="btn btn-secondary" th:text="*{reserva.estado}"></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-2"></div>
	    </div>
    </div>  <!-- Fin Div principal-->
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>


</body>

</html>